name: "PR: Checks"

on:
  pull_request:
    branches:
      - master
      - main

jobs:
  go-lint:
    name: "GoLang Lint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run lint
        uses: golangci/golangci-lint-action@v8
        with:
          go-version-file: go.mod

  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: make deps

      - name: Run tests
        run: make tests
